<div class="hidden">
  <div id="current_user_id">
    <%= current_user.id %>
  </div>
</div>
<div class="wrapper-messenger" style="background-image: url(<%= image_path 'elements/index-user-bg.png' %>);" >
  <div class="container-fluid">
    <div class="row">
      <%= render 'shared/channel-list' %>
      <%= render 'shared/messages-box' %>
    </div>
  </div>
</div>

<script> document.body.scrollTop = document.body.scrollHeight; </script>
