<div class="range-slider">
	<div id="km">
		<p>0 km</p>
		<p>20 000 km </p>
	</div>
  <input class="range-slider__range" type="range" value="10000" min="0" max="20000" step="10">
  <span class="range-slider__value"> <%= @length %> </span>
</div>
