<div id="pages-home" class="slider">
  <div id="birthday-select">
    <h1>Twweams nés depuis le chargement de la page </h1>
    <div id="nbr-twweams"></div>

    <div class="form-container">
      <h2> Enter your birthday </h2>
      <div class="form">
        <%= simple_form_for :birthday, url: birthday_path, class: 'birthday-form',method: :get do |f| %>
          <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: false %>
          <%= f.button :submit, 'Go !', id:"go-btn" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag 'slider-home' %>
