<div id="pages-home">
  <div class="birthday-select">
    <h1>Twweams nés depuis le chargement de la page </h1>
    <div id="nbr-twweams"></div>

    <div class="form-container">
      <h2> Enter your birthday </h2>
      <div class="form">
        <%= simple_form_for :birthday, url: birthday_path, class: 'birthday-form',method: :get do |f| %>
            <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: false %>
          <%= f.button :submit, 'Go !', id:"go-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="fb-share-button" data-href="http://www.twweams.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.twweams.com%2F&amp;src=sdkpreparse">Partager</a></div>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Twweams est la ! " data-size="large">Tweet</a>



  <div class="text-center margin-bottom-lg">
    <h2>Comment ca marche ?</h2>
    <div class="hidden-md hidden-lg">
      <iframe src="https://player.vimeo.com/video/241765313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="hidden-xs hidden-sm">
      <iframe src="https://player.vimeo.com/video/241765313" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div id="fb-root"></div>
</div>

<%= javascript_include_tag 'counter-home' %>
