.hidden {
  display: none;
}
/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $dark-blue;
  transition: all 0.3s ease;
  height:7vh;
  padding:0 18vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.padding {
  padding:0 10em;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 8em;
}

/* Navbar right section (with form, links, button) */
#form-navbar {
  margin:1em 0 0.3em;
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(80%);
    #date-select{
      margin-right: 1em;
      .form-group {
        margin: 0;
      }
      .form-inline {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      align-self: center;
        select {
          text-align: center;
          background-color: #e9ebed;
          border:0px solid transparent;
          overflow: hidden;
          outline: none;
          border-radius: 0px;
          margin:0 0.1em;
          color:$dark-blue;
        }
      }
    }
    #gender-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1em;
      margin-right: 0.5em;
      .form-group {
        margin: 0;
      }
      .checkbox {
        margin:0;
        display: flex;
        flex-direction: row;
      }
    }
    label {
      vertical-align: middle;
      color: #e9ebed;
      margin-left: 0.5em;
      font-weight: 400;
    }
    #find-btn {
      background-color: $blue;
      width:4em;
      text-align: center;
      margin:0 0.5em;
      font-size: 1em;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      border-radius: 10px;

      input {
        background-color: transparent;
        border: transparent;
        color:white;
        width:100%;
        height: 100%;
      }
      &:hover{
        filter:contrast(80%);
      }
    }
  }
}
.navbar-wagon-right, #navbar-smartphone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding-left: 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  padding:0 20px;
}
.navbar-wagon-link:hover {
  color: $blue;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
#dropdown-bars, .courrier {
  width:1em;
}


.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 9999;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

@media screen and (max-width:992px){
  .navbar-wagon {
    padding:1em !important;
  }
}
