/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.margin-bottom-lg {
  margin-bottom: 50px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

h2 {
  color:$dark-blue;
  font-size: 1.8em;
  font-weight: lighter;
  margin-bottom: 30px;
}

// separated bar

#separate-bar {
  height:0.7vh;
  width:100vw;
  background-color: $dark-blue;
  img {
    position: absolute;
    left:47.8vw;
    width:2.2em;
    margin-top:-0.93em;
    z-index: 900;
  }
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.display-none {
  display: none !important;
}

// .display-none {
//   display: none !important;
// }

// Font

* {
  font-family: 'Roboto', sans-serif !important;
  &:hover {
    text-decoration: none;
  }
}
.width-auto {
  width: auto !important;
}
