.users-new {
  height:93vh;
  // background-color:rgba($blue,0.1);
  background-image: image-url('bg-home-02.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto';
  font-weight: 100;
  padding-top: 1em;

  #form {
    width: 40vw;
    min-width: 25em;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgba($grey,0.6);
    border-radius:30px;
    border:2px solid white;
    padding:2em 3em;
    margin:auto;

    input,select,textarea {
      border:none;
      box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.1);
      &::placeholder {
        font-size: 0.9em;
        font-weight: lighter;
        color:rgba($dark-blue,0.6);
      }
      option {
        font-size: 0.9em;
        font-weight: lighter;
        color:rgba($dark-blue,0.6);
      }
    }
    input,select {
      width: 9em;
    }
    #user_gender_female, #user_gender_male, .attachinary, .attachinary-input {
      width:auto;
    }

    label {
      color:rgba($dark-blue,0.6);
    }

    .submit-btn {
      width:fit-content;
      margin: auto;
      text-align: center;
      input {
        background-color: $blue;
        color:$grey;
        border:none;
        box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.1);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        &:hover {
          background-color: $grey;
          color:$blue;
        }
      }
    }

    #user_gender {
      margin:0;
    }

    #user_email, #user_password {
      width:100%;
    }

    #name,#location,#more-info,#password,#favorite {
      display:flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
    }
    #password,#more-info {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 1340px){
  #favorite {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 780px){
  #form {
    width:85vw !important;
  }
}
